.button {
  position: relative;
  display: inline-block;
  border: none;
  background: #ffffff;   /* ORIGINAL COLOR */
  color: #0d0101;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0;      /* ORIGINAL SHAPE */
  font-size: 16px;
  font-weight: 600;
}

/* Naira */
.button--naira {
  padding: 0;
  transition: background-color 0.3s;
}

.button--naira::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #ffffff;
  top: -50%;
  z-index: 0;
  transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}

.button--naira-up::before {
  transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
}

.button--naira > span,
.button--naira .button__icon {
  padding: 1em 2em;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--naira > span {
  display: block;
  position: relative;
  z-index: 1;
}

.button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  color: #fff;
  transform: translate3d(0, 100%, 0);
  z-index: 1;
}

/* Hover animation */
.button--naira:hover::before {
  animation: anim-naira 0.3s forwards ease-in;
}

@keyframes anim-naira {
  50% {
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 5deg);
  }
  100% {
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}

.button--naira:hover > span {
  transform: translateY(-100%);
}

.button--naira:hover .button__icon {
  transform: translateY(0%);
}
